:root {
    --navy: #334547;
    --green: #829a44;
    --biege: #c2B6a0;
    --purple: #635058;
}

body {
  padding-top: 15px;
    padding-left: 15px;
    background-color: var(--navy);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.55;
    color: var(--biege);
}
.text-center {
    padding-top: 20px;
}
#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.h1,h1{
    color: var(--green);
}


.nav li a {
    color: var(--green);
}
.nav li:before {
    font-family: 'FontAwesome';
    margin: 0 5px 0 -15px;
    color: #999999;
}
.nav li.active a {
    color:  var(--green);
    font-weight: bold;
}
.nav li.active:before {
    color: var(--green);
}
.nav li:hover a {
    text-decoration: none;
    color: var(--green);
}
.nav li:hover:before {
    color: var(--green);
}


/* Create a small height at 30px */
.navbar-sm {min-height:30px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top:5px; padding-bottom:5px}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}


.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff2826;
}


.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 20px;
        width: 39%;
    }
    #sidebar {
        padding-top:0;
    }
}

*, *:before, *:after {box-sizing:  border-box !important;}



.rowGallery {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;

}

.panel {
    display: inline-block;
    margin:  .5em;
    padding:  0;
    width:98%;
    background-color: var(--purple);
}

.panel-default > .panel-heading{
    background-color: var(--purple);
    border-color: transparent;
        color: var(--biege);
}

.panel-body{

    background-color: var(--purple);
    color: var(--biege);
}

.thumbnail{
    background-color: var(--purple);
    border: none;
}